<div class="container chatroom justify-content-center"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="d-flex align-items-center">
    <% if current_user == @chatroom.followed %>
      <%= cl_image_tag @chatroom.user.photo.key, class: "avatar m-3", "data-bs-toggle" => "tooltip", "data-bs-placement" =>"top" %>
    <% else %>
      <%= cl_image_tag @chatroom.followed.photo.key, class: "avatar m-3", "data-bs-toggle" => "tooltip", "data-bs-placement" =>"top" %>
    <% end %>
    <h2><%= @chatroom.followed.username unless current_user == @chatroom.followed %>
      <%= @chatroom.user.username unless current_user != @chatroom.followed %>
    </h2>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f|%>
    <%= f.input :content,
      label: false,
      wrapper_html: {class: "flex-grow-1", style: "margin-bottom: 0px !important"}  %>
    <%= f.submit "Enviar", class: "btn btn-main" %>
  <% end %>
</div>
