  <%= simple_form_for @event do |f| %>
  <h6 class = "event-form-label">Nome:</h6>
  <%= f.input :name, label: false %>
  <h6 class = "event-form-label">Descrição:</h6>
  <%= f.input :description, label: false %>
  <h6 class = "event-form-label">Data:</h6>
  <%= f.input :date, label: false %>
  <h6>Endereço:</h6>
  <%= f.input :address, label: false %>
  <h6 class = "event-form-label">Categoria:</h6>
  <%= f.input :category, label: false %> <%#collection: Item::CATEGORIES %>
  <h6 class = "event-form-label">Banner do evento:</h6>
  <%= f.input :photo, as: :file, label: false %>
  <div class= "pb-3">
    <%= f.label "Evento privado", class: 'event-form-label' %>
    <%= f.check_box :private, label: false %>
  </div>
  <%= f.button :submit, root_path, class: 'btn btn-create-event w-100', value: "ENVIAR" %>
<% end %>
