<% if @widget == 'home' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento"
          %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <h2>Próximos Eventos</h2>
      <% @check_ins.reverse_each do |ci| %>
        <p><%= ci.event.name %></p>
      <% end %>
      <div style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-mapbox-user-location-value="true">
      </div>
    </div>
  </div>
<% elsif @widget == 'events' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento"
          %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <h2>Próximos Eventos</h2>
      <% @check_ins.reverse_each do |ci| %>
        <p><%= ci.event.name %></p>
      <% end %>
    </div>
  </div>
<% elsif @widget == 'event' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento"
          %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <p><%= @event.description %></p>
      <%= cl_image_tag @event.photo.key, class: 'widget-image' %>
      <p>Endereço: <%= @event.address.titleize %></p>
      <p>Data: <%= @event.date.strftime("%a, %d %b %Y") %></p>
      <p>Confirmados</p>
      <% i = 0 %>
      <% @check_ins.each do |ci| %>
        <%= cl_image_tag ci.user.photo.key, class: "avatar-large image#{i}", alt: "#{ci.user.first_name.titleize}", "data-bs-toggle" => "tooltip", "data-bs-placement" =>"top", title: "#{ci.user.first_name.titleize}" %>
        <% i += 1 %>
      <% end %>
      <p>
        <% @check_ins.each do |c| %>
          <%= c.user.first_name.titleize %>,
        <% end %>
        e outros confirmaram
      </p>
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
        Tooltip on top
      </button>
    </div>
  </div>
<% end %>
