<% if @widget == 'home' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento" %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <h2>Próximos Eventos</h2>
      <% @check_ins.reverse_each do |ci| %>
        <p><%= ci.event.name.titleize %></p>
      <% end %>
      <div style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-mapbox-user-location-value="true">
      </div>
    </div>
  </div>
<% elsif @widget == 'profile' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento" %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <h2>Próximos Eventos</h2>
      <% @check_ins.reverse_each do |ci| %>
        <p><%= ci.event.name.titleize %></p>
      <% end %>
      <div style="width: 100%; height: 300px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-mapbox-user-location-value="true">
      </div>
    </div>
  </div>
<% elsif @widget == 'events' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento"
          %>
      <% end %>
    </div>
    <div class="widgets-widget-container">
      <h2>Próximos Eventos</h2>
      <% @check_ins.reverse_each do |ci| %>
        <p><%= ci.event.name.titleize %></p>
      <% end %>
    </div>
  </div>

<% elsif @widget == 'event' %>
  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-search-icon pe-3"> search </span>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure um Evento"
          %>
      <% end %>
    </div>
    <div class="widgets-widget-container widgets-event">
      <div class="mapbox-events">
        <div class="mapbox-box" id="mapbox-event"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <h5 id="details">Detalhes</h5>
      <% i = 0 %>
      <% @check_ins.last(5).reverse_each do |ci| %>
        <%= cl_image_tag ci.user.photo.key, class: "avatar-large image#{i}", alt: "#{ci.user.first_name.titleize}", "data-bs-toggle" => "tooltip", "data-bs-placement" =>"top", title: "#{ci.user.first_name.titleize}" %>
        <% i += 1 %>
        <%= break if i == 5 %>
      <% end %>
      <p>
        <% if @event.check_ins.count > 1 %>
          <% x = 0 %>
          <% @check_ins.first(3).each do |c| %>
            <%= c.user.first_name.titleize %>,
            <% x += 1 %>
          <% end %>
          <%= "confirmaram" if @check_ins.count < 3 && @check_ins.count > 0 %>
          <%= "e outros #{@event.check_ins.count - 3} confirmaram presença" if @check_ins.count > 3  %>
        <% elsif @event.check_ins.count == 1 %>
          <%= @check_ins.first.user.first_name.titleize %>
          <%= "confirmou" if @check_ins.count == 1  %>
        <% end %>
      <p><i class="fas fa-map-marker-alt event-icons"></i>  <%= @event.address.titleize %></p>
      <p><i class="fas fa-calendar-day event-icons"></i>  <%= I18n.l(@event.date, format: :longa) %></p>
      <p><i class="fab fa-font-awesome-flag event-icons"> </i> Evento criado por <b>@<%= @event.user.username%></b></p>
      <p><b> Descrição: </b><%= @event.description %></p>
      </p>
      <div class="">
        <% if @check_in.where(event_id: params[:id]).present? %>
          <div class="btn btn-small"> Confirmado(a) </div>
          <%= link_to '<i class="fas fa-times-circle"></i> Cancelar'.html_safe, event_check_in_path(@event), method: :delete, data: {confirm: "Cancelar presença no #{@event.name}?"}, class: "btn btn-cancel" %>
        <% else %>
          <%= link_to '<i class="fas fa-location-arrow"></i> Confirmar presença'.html_safe, event_check_ins_path(@event), method: :post, data: {confirm: "Confirmar presença no #{@event.name}?"}, class: "btn  btn-confirm" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
