<div class="container mt-2">
  <h1><%= @event.name %></h1>
  <%= link_to "editar", edit_event_path, class: "btn btn-warning" %>
  <%= link_to "cancelar", event_path, method: :delete, data: {confirm: 'Você tem certeza?'}, class: "btn btn-danger" %>
  <% if @check_in.where(event_id: params[:id]).present? %>
    <div class="btn btn-success"> Presença Confirmada </div>
  <% else %>
    <%= link_to "confirmar presença", event_check_ins_path(@event), method: :post, data: {confirm: "Confirmar presença no #{@event.name}?"}, class: "btn btn-success" %>
  <% end %>

</div>
<h2> Diga algo sobre o evento </h2>
<%= render 'posts/post_form' %>

<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.content %>
      <%#= link_to 'remove', events_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-user-location-value="false">
</div>
