
<!-- publishbox  -->
<div class="publish-box">
  <form>
    <div class="publish-box-input">
      <div class="post-avatar ">
        <%= cl_image_tag current_user.photo.key %>
      </div>
      <input class="ps-3 text-holder" type="text" placeholder="O que você está fazendo?" />
    </div>
    <button class="publish-box-publish-button">POSTAR</button>
  </form>
</div>


<% @posts.each_with_index do |post, index| %>
  <div class="<%= index.even? ? 'post-even' : 'post-odd' %>">
    <div class="post-avatar">
      <%= cl_image_tag User.where(id: post.user_id).first.photo.key %>
    </div>


    <div class="post-body">
      <div class="post-header">
        <div class="post-header-text">
          <h3>
            <%= User.where(id: post.user_id).first.first_name %>
            <span class="post-header-special"
              ><span class="material-icons post-badge"> verified </span>@<%= User.where(id: post.user_id).first.username %></span
            >
          </h3>
        </div>
        <div class="post-header-description">
          <%if post.photos.present?%>
            <p><%= post.content %></p>
            <% post.photos.each do |photo| %>
              <%= cl_image_tag photo.key%>
            <% end %>
          <% else %>
            <p class="mb-2"><%= post.content %></p>
            <% post.photos.each do |photo| %>
              <%= cl_image_tag photo.key%>
            <% end %>
          <% end %>
          <p class = "published-event">publicado no evento: <%= post.event.name.downcase %>, <%= post.created_at.strftime('%a %d %b %Y').downcase %>.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
