<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Go!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <!-- sidebar -->
    <div class="sidebar">

      <%= link_to home_path, class: 'text-decoration-none text-dark' do %>
        <i class="fab fa-gofore"></i>
      <% end %>

      <%= link_to home_path, class: 'text-decoration-none text-dark' do %>
        <div class="sidebarOption active">
          <span class="material-icons"> home </span>
          <h2>Home</h2>
      </div>
      <% end %>

      <%= link_to events_path, class: 'text-decoration-none text-dark' do %>
        <div class="sidebarOption">
          <span class="material-icons"> search </span>
          <h2>Eventos</h2>
        </div>
      <% end %>

      <div class="sidebarOption">
        <span class="material-icons"> notifications_none </span>
        <h2>Notificações</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> mail_outline </span>
        <h2>Mensagens</h2>
      </div>

      <div class="sidebarOption">
        <span class="material-icons"> perm_identity </span>
        <h2>Perfil</h2>
      </div>

      <%= link_to new_event_path, class: 'text-decoration-none text-dark' do %>
        <div class="sidebarOption">
          <span class="material-icons"> add_circle_outline </span>
          <h2>Criar Evento</h2>
        </div>
      <% end %>

      <div class="sidebarOption">
         <div class="profile-info">
            <div class="post__avatar">
              <%= cl_image_tag current_user.photo.key %>
            </div>
          <div>
            <p class="name"><%= current_user.first_name %></p>
            <p class="username">@<%= current_user.username %></p>
          </div>
          <div class="option-icon">
            <span class="material-icons mt-3"> more_horiz </span>
          </div>
        </div>
      </div>
    </div>


    <!-- feed -->
    <div class="feed">
      <div class="feed__header">
        <h2 id="home-h2">Home</h2>
      </div>

      <!-- publishbox  -->
      <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            <%= cl_image_tag current_user.photo.key %>
            <input class="ps-3 text-holder" type="text" placeholder="O que você está fazendo?" />
          </div>
          <button class="tweetBox__tweetButton">POSTAR</button>
        </form>
      </div>


      <!-- post 1 -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Djez
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@djez</span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <img
            src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"
            alt=""
          />
        </div>
      </div>


      <!-- post 2 -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Gabriel
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@gabrielo</span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <img
            src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"
            alt=""
          />

        </div>
      </div>
      <!-- post 3 -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Ícaro
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@icaroleon</span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <img
            src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"
            alt=""
          />

        </div>
      </div>

      <!-- post 2 -->
      <div class="post">
        <div class="post__avatar">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                Gabriel
                <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@gabrielo</span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <img
            src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"
            alt=""
          />

        </div>
      </div>
    </div>


    <!-- feed ends -->

    <!-- widgets starts -->
    <div class="widgets">
      <div class="widgets__input">
        <span class="material-icons widgets__searchIcon"> search </span>
        <input type="text" placeholder="Procure Eventos" />
      </div>

      <div class="widgets__widgetContainer">
        <h2>Próximos Eventos</h2>
        <blockquote class="twitter-tweet">
          <p>Evento 1</p>
          <p>Evento 2</p>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <!-- widgets ends -->
  </body>
</html>
