<div class="publish-box w-100">
  <div class="publish-box-input">

    <%= cl_image_tag current_user.photo.key %>
    <%= simple_form_for @new_post do |f| %>
      <%= f.input :post_id, :as => :hidden, :input_html => { :value => @post.id}%>
      <%= f.input :content, label: false, placeholder: 'Escreva algo sobre o evento', input_html: {class: 'ps-3 text-holder'} %>
      <label class="material-icons image-upload d-flex align-items-center">
        image
        <%= f.input :photos, label: false, as: :file, input_html: { multiple: true, class: "d-none" }%>
        <h6 class="m-0 ps-1" id="">Foto/Imagem</h6>
      </label>
  </div>
      <%= f.submit 'POSTAR', class: 'publish-box-publish-button-post' %>
    <% end %>
</div>
