<!DOCTYPE html>
<html>
  <head>
    <title>LetsGo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/feed_header' %>
        <%= yield %>
      </div>
      <%= render 'shared/widgets' %>
      <%= render 'shared/flashes' %>
    <% else %>
      <%= yield %>
      <%= render 'shared/flashes' %>
    <% end %>
  </body>
</html>
